*{
    margin:0;
    text-align: center;
    box-sizing: border-box;
    color:#fff;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 3rem;

}
h2,h4{
    font-size: 2rem;
    margin:2rem 0;
}
p{
    font-size: 1.8rem;
}
.main--container{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5rem;
    padding: 2rem;
}
ul{
    padding: 0;
    display: flex;
    justify-content: center;
}

.title--container{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.301);
    border: 1px solid #fff;
    padding: 1rem 0.25rem;
    max-width: 300px;   
    margin:0 auto; 
}
.single--container{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.301);
    border: 1px solid #fff;
    padding: 1rem 0.25rem;
    min-width: 300px;    
}
.block--container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section{
    flex-direction: column;
}

.btn{
    background-color: #53BB7A;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 900;
    border-radius: 15px;
}
.main-cta{
    padding: 0.75rem 6rem;
    max-width: 300px;   
    font-size: 2.5rem;
}

.btn:hover{
    background-color: #5cdb8d;
}
.pokeButton{
    padding: 0.75rem 2rem;
    font-size: 1.8rem;
    max-width: 200px;
    margin: 1rem 0;

}
.main--pokemon-container{
    padding:1rem;
    display: grid;
    gap: 25px;
    margin-top: 2rem;
    grid-template-columns: repeat(1, 290px)
}
@media screen and (min-width: 650px){  
	.main--pokemon-container{
  		grid-template-columns: repeat(2, 290px);
    }
    .title--container{
        max-width: 600px; 
    }
       }
@media screen and (min-width: 1024px){  
        .main--pokemon-container{
              grid-template-columns: repeat(3, 290px);
        }
        .title--container{
            max-width: 900px; 
        }
    }    
.single--pokemon-container{
    border:#fff solid 1px;
    background-color: rgba(128, 128, 128, 0.267);
    padding: 3rem;
    border-radius: 15px;
}
.pokemon--text{
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    opacity: 0.9;
    background-color: red;
    border-radius: 15px;
    width: 85px;
    margin:1rem 0.5rem;
    
}
.pokemon--text ul, span{
    padding: 0;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.pokemon--name{    
    font-weight: 900;
    text-transform: capitalize;
}

.img-container{
    max-height: 150px;
}

/*Modal*/
.poke--modal-background{
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poke--modal-container{
    background: white;
    width: 300px;
    height: 300px;
}
.poke--modal-message, .poke--modal-close-button{
    font-size: 1.8rem;
    color:black
}
.poke--modal-message{
    text-align: center;
}
.poke--modal-close-button{
    transform: rotate(45deg);
    cursor: pointer;
}